.tit {
    background: url("./../img/index.png") no-repeat 0 9999px
}
.tit {
    height: 33px;
    padding: 0 10px 0 34px;
    background-position: -225px -156px;
    border-bottom: 2px solid #C10D0C;
}

.name {
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px
}
.clear::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}