    :global(.m-subnav) {
    z-index: 90;
    height: 35px;
    box-sizing: border-box;
    background-color: #C20C0C;
    border-bottom: 1px solid #a40011;
}
    .wrap {
    width: 1100px;
    height: 34px;
    margin: 0 auto;
}
    :global(.sub-nav) {
    padding-left: 180px
}
    :global(.sub-nav-con) li {
    float: left;
    height: 34px;
    text-align: center;
}
    :global(.sub-nav-con) li em {
    font-style: normal;
    background: #9B0909;
    display: inline-block;
    height: 20px;
    padding: 0 13px;
    margin: 7px 17px 0;
    border-radius: 20px;
    line-height: 21px;
    font-size: 12px;
    color: #fff;
    line-height: 20px
}